body {
    padding-top: 70px; /* Some threshold padding to look good */
}

.portfolio-item {
    margin-bottom: 25px;
}

.over-text {
	position: absolute;
	background-color: white;
	left: 40px;
	top: 20px;
	padding: 5px 10px;
	color: #a0a0a0;
}

h4 {
	color: #333;
}

p {
	color: #b8b8b8;
}

li {
	padding: 0 10px;
	color: #a0a0a0;
}

.portfolio-item div.col-md-12 { /* thin grey border around elements */
	border: 1px solid #dddddd;
}

.navbar {
	padding-top: 20px;
}